

#imgPreview {
    margin: 20px;
}

#noimage {
    width: 80px;
    height: 80px;
}


ul.gallery {
    padding: 0;
}

ul.gallery li:first-child {
    margin-left: 0;
}

ul.gallery li {
    margin: 20px;
    display: inline-block;
    list-style: none;
}


/*
table.alignmiddle td {
    vertical-align: middle !important;
} */