 img.pimage {
    width: 150px;
}


a.pa {
    display: inline-block;
    height: 160px;
}


.row.products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.spi {
    width: 100%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}


img.cpi {
    width: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}


.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
} 

.footer{
    background-color: black;
}

.contact{
 
    color: white;
    text-align:center;
}

#map{
    float: right;
    width: 400px;
    height:200px;

}



