

<br>
<hr>
<div  class="footer"> 
<p class="contact">License: Chu Thanh Dat</p>
<p class="contact">Telephone:0984060798</p>
<p class="contact">Email: Thanhdatcnttattt@gmail.com</p>
<p class="contact">Facebook: https://www.facebook.com/Dat.Hazard.98</p> 
</div>


 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/slideimage.js"></script>
  </body>
 
</html>


