
<!-- Container for the image gallery -->
<div class="container">
<!-- Full-width images with number text -->
<div class="mySlides">
  <div class="numbertext">1 / 6</div>
    <img src="http://wallpapersdsc.net/wp-content/uploads/2016/01/Eden-Hazard-Wallpapers-HD.jpg" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">2 / 6</div>
    <img src="https://cdn.hipwallpaper.com/i/74/60/uYnFfr.jpg" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">3 / 6</div>
    <img src="https://images.performgroup.com/di/library/goal_uk/1a/ce/hd-john-terry-chelsea_hgj7hcpu6lp1f5jlm8i4whuz.jpg?t=-1367549628" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">4 / 6</div>
    <img src="https://i.pinimg.com/originals/68/d3/8e/68d38ea414b9a7f4cdcba4649287d7be.jpg"  style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">5 / 6</div>
    <img  src="https://i.pinimg.com/originals/a3/1f/90/a31f90d79fba5e8f9cb5ed38e6bf9a9d.jpg"  style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">6 / 6</div>
    <img src="https://img00.deviantart.net/1528/i/2013/167/6/a/fernando_torres_chelsea_wallpaper_by_jafarjeef-d69ao3x.jpg" style="width:100%">
</div>

<!-- Next and previous buttons -->
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

<!-- Image text -->
<div class="caption-container">
  <p id="caption"></p>
</div>

<!-- Thumbnail images -->
<div class="row">
  <div class="column">
    <img class="demo cursor" src="http://wallpapersdsc.net/wp-content/uploads/2016/01/Eden-Hazard-Wallpapers-HD.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
  </div>
  <div class="column"> 
    <img class="demo cursor" src="https://cdn.hipwallpaper.com/i/74/60/uYnFfr.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
  </div>
  <div class="column">
    <img class="demo cursor" src="https://images.performgroup.com/di/library/goal_uk/1a/ce/hd-john-terry-chelsea_hgj7hcpu6lp1f5jlm8i4whuz.jpg?t=-1367549628" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
  </div>
  <div class="column">
    <img class="demo cursor" src="https://i.pinimg.com/originals/68/d3/8e/68d38ea414b9a7f4cdcba4649287d7be.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
  </div>
  <div class="column">
    <img class="demo cursor" src="https://i.pinimg.com/originals/a3/1f/90/a31f90d79fba5e8f9cb5ed38e6bf9a9d.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
  </div> 
  <div class="column">
    <img class="demo cursor" src="https://img00.deviantart.net/1528/i/2013/167/6/a/fernando_torres_chelsea_wallpaper_by_jafarjeef-d69ao3x.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
  </div>
</div>
</div>
<hr>
