<% include _layouts/header %>
 
<div class="container">
<div class="row">
<div class="col-sm-3">
<div align="center">
<img src="https://ketquanhanh.vn/images/banner_nha.gif"> <hr>
<img width="90%"src="http://thebestsoccertips.com/uploads/images/gif/thebest.gif">
</div>
</div>
<div class="col-sm-9">
            <p><b><%= title %></b></p>
            <p><i><%= total %></i></p>
            <p><%- content %> </p>
</div>
</div>
</div>
</div>

<% include _layouts/footer %>